### Jupyter notebook 연습 및 판다스 기본 사용 익히기

익숙하지 않은 jupyter notebook 연습과 pandas 를 사용하는 방법을 간단하게 익힙니다.

In [1]:
print("안녕 주피터노트북!")

안녕 주피터노트북!

- 교안을 따라  pandas 를 익힐 예정

##### Loading Python Libraries

In [2]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

##### Reading data using pandas
pandas 를 사용해서 데이터를 불러옵니다.

In [3]:
df = pd.read_csv("Salaries.csv")

C:\Users\hayoungzzzzz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

힝 오류가 발생하였다. 인터넷에 검색해보니 column의 타입을 지정해주면 해결될 가능성이 생긴다고 한다. 
믿고 한번 더 도전한다.

In [4]:
df = pd.read_csv("Salaries.csv",error_bad_lines=True,dtype={'CODE':np.str})

오류가 해결되었다! 다음 단계를 진행한다.

##### Exploring data frames

읽어온 데이터 리스트의 처음 5개를 읽어온다.

In [5]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

##### Hands-on exercies 

- 처음 10개, 20개, 50개의 레코드를 읽어올 수 있도록 시도해보라

In [7]:
df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602,8601,189083,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492,89062.9,134426,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256577,0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176933,86362.7,40132.2,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262,0,17115.7,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN

In [8]:
df.head(20)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602,8601,189083,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492,89062.9,134426,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256577,0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176933,86362.7,40132.2,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262,0,17115.7,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999,71344.9,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722,87082.6,110804,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580,0,0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329,0,21342.6,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174873,74050.3,37424.1,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778,73478.2,13957.6,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268605,0,16115.9,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140547,119397,18625.1,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,69626.1,38115.5,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257511,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN

In [9]:
df.head(50)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602,8601,189083,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492,89062.9,134426,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256577,0,51322.5,NaN,307899.46,307899.46,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176933,86362.7,40132.2,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262,0,17115.7,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999,71344.9,33149.9,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722,87082.6,110804,NaN,297608.92,297608.92,2011,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580,0,0,NaN,294580.02,294580.02,2011,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329,0,21342.6,NaN,292671.62,292671.62,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174873,74050.3,37424.1,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778,73478.2,13957.6,NaN,286213.86,286213.86,2011,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268605,0,16115.9,NaN,284720.43,284720.43,2011,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140547,119397,18625.1,NaN,278569.21,278569.21,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,69626.1,38115.5,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257511,880.16,16159.5,NaN,274550.25,274550.25,2011,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510,0,16679.8,NaN,274190.27,274190.27,2011,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510,377.21,15883.6,NaN,273771.21,273771.21,2011,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140547,93200.6,39955.2,NaN,273702.71,273702.71,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,77896.1,24083.9,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140547,97868.8,31909.3,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470,0,11522.2,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.8,40008,133696,NaN,265784.56,265784.56,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,80706.9,16064,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261718,0,2357,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246226,0,15140.5,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
30,31,HARLAN KELLY-JR,EXECUTIVE CONTRACT EMPLOYEE,234325,0,25972.6,NaN,260297.66,260297.66,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,DEPUTY CHIEF III (POLICE DEPARTMENT),254028,0,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
32,33,GARY AMELIO,DEPARTMENT HEAD V,248896,0,10789.2,NaN,259684.88,259684.88,2011,NaN,San Francisco,NaN
33,34,JOHN TURSI,"INSPECTOR III, (POLICE DEPARTMENT)",104861,50227.6,103499,NaN,258588.39,258588.39,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"BATTALION CHIEF, (FIRE DEPARTMENT)",177781,59925,20658,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
35,36,KHOA TRINH,ELECTRONIC MAINTENANCE TECHNICIAN,101953,139103,16483.9,NaN,257540.09,257540.09,2011,NaN,San Francisco,NaN
36,37,SUSAN CURRIN,"ADMINISTRATOR, SFGH MEDICAL CENTER",245124,0,12000,NaN,257124.44,257124.44,2011,NaN,San Francisco,NaN
37,38,JAMES BOSCH,"INSPECTOR III, (POLICE DEPARTMENT)",110661,31162,111446,NaN,253269.44,253269.44,2011,NaN,San Francisco,NaN
38,39,JONES WONG,LIEUTENANT III (POLICE DEPARTMENT),132202,52648.9,67083.8,NaN,251935.01,251935.01,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"BATTALION CHIEF, (FIRE DEPARTMENT)",147159,64985.8,39540.5,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,60847.6,21055.2,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,59760.9,21955,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",218931,4078,27330.6,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
43,44,MICHAEL THOMPSON,FIREFIGHTER,123013,111730,15575.3,NaN,250317.93,250317.93,2011,NaN,San Francisco,NaN
44,45,SHARON MCCOLE WICHER,NURSING SUPERVISOR PSYCHIATRIC,196082,0,54040.2,NaN,250122.04,250122.04,2011,NaN,San Francisco,NaN
45,46,EDWIN LEE,MAYOR,249375,0,0,NaN,249375.02,249375.02,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168693,66199.2,14401.4,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
47,48,TRENT RHORER,DEPARTMENT HEAD V,248896,0,0,NaN,248895.77,248895.77,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,DEPUTY CHIEF III (POLICE DEPARTMENT),233868,0,14851,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
49,50,KEN YEE,"LIEUTENANT, FIRE DEPARTMENT",137730,89856,20848.5,NaN,248434.39,248434.39,2011,NaN,San Francisco,NaN

- 끝에 조금 있는 레코드를 읽어오는 방법은 무엇이 있을지 시도해보라

In [10]:
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

위의 실습을 통해
파일의 처음 레코드 n개를 읽어오려면 
``` python
df.head(n)
```
을 사용하면 되며, 
파일의 끝 레코드 n개를 읽어오려면
``` python
df.tail(n)
```
을 사용하면 되는 것을 알았다.

##### Data Frame data types

데이터 프레임의 데이터 타입을 확인해보자.

In [13]:
df['salary'].dtype

KeyError: 'salary'

교안이랑은 다른 salaries.csv 파일을 가져와서 그런듯 하다....

In [14]:
df.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay              object
OvertimePay          object
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

##### Data Frames attributes 
파이썬 오브젝트는 속성과 메소드를 가진다. 
df.attribute 는 아래와 같이 있다.
- dtypes : 열의 유형을 나열한다
- columns : 열의 이름을 나열한다
- axes : 행의 레이블 및 열의 이름을 나열한다
- ndim : 차원의 수
- size : 요소의 개수
- shape : 차원을 나타내는 튜플을 반환
- values : 데이터의 numpy 표현을 나타냄

##### Hands-on exercies
- 이 데이터 프레임에있는 레코드 수를 찾으십시오
- 얼마나 많은 요소가 있는지?
- 열의 이름은 무엇인지?
- 이 데이터 프레임에는 어떤 유형의 열이 있습니까?

In [15]:
# 이 데이터 프레임이 있는 레코드의 수를 알아내는 방법

len(df)
df.shape[0]
len(df.index)

148654

In [16]:
len(df)

148654

In [17]:
df.shape[0]

148654

In [18]:
len(df.index)

148654

In [19]:
# 놀랍게도 다 똑같은 결과 ㅎㅎ

##### Data Frame methods

속성과 달리 메소드는 괄호를 포함한다.
모든 속성과 메소드는 dir 함수로 나열할 수 있다.

- head(n), tail(n) : 첫번째와 마지막의 n개의 행을 얻음
- describe() : 설명을 생성?
- max() , min() : 해당 열의 최대값과 최소값을 리턴함.
- mean() , median() : 숫자로된 열의 값의 중간값을 반환
- std() : 표준편차 출력
- sample(n) : 데이터 프레임의 무작위 샘플을 반환
- dropna() : 값이 없는 레코드를 삭제